.button{
    margin: 10px;
    border: none;
}

.button:hover{
    font-weight: bold;
}

.none{
    display: none;
}

.resultados{
    display:flex;
}

.first_result{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: -10;
    margin: auto;
}

.first_result h3{
    font-family: 'Shadows Into Light';
    font-size: 25px;
}

.first_result div {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first_result_degrade {
    width: 100%;
    height: 100%;
    background: linear-gradient( 90deg, rgba(255,253,186, 0.3) 0%, rgba(255,253,186, 1) 25%,rgba(255,253,186, 1) 75%, rgba(255,253,186, 0.3) 100%);
    z-index: 10;
}

.first_result_info {
    z-index: 20;
    display: inline !important;
}

.first_result_fondo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.recetas{
    width: 43%;
    margin: 10px 3%;
    float: left;
    border-radius: 5rem;
    background: linear-gradient( 90deg, rgba(255,253,186, 1) 0%,  rgba(255,253,186, 0.3) 100%);
    border: solid 1px rgb(190,100,0);
}

.recetas h2{
    height: 50px;
    width: 80%;
    font-family: 'Shadows Into Light';
    line-height: 2rem;

}

.recetas p{
    height:40px ;
}

.recetas button{
    width: 100%;
    border-radius: 0 0 5rem 5rem;
    border: solid 1px rgb(190,100,0);
    background: linear-gradient( 90deg, rgba(255,253,186, 1) 0%,  rgba(255,253,186, 0.3) 100%);

}

.recetas button:hover{
    background: linear-gradient( 90deg, rgba(255,253,186, 1) 0%,  rgba(255,253,186, 0.6) 100%);

}
